extends 'index/index.html' %}

{% block "header_block" %}
{% endblock "header_block" %}

{% block "body_block" %}


    <p>
        <a href={% url 'profesores' %}>Volver</a>
    </p>
    
    <p>
        <li>Nombre: {{profesor.nombre}}</li>
        <li>Apellido: {{profesor.apellido}}</li>
        <li>Está desempleado: {{profesor.curso}}</li>
        <li>Tarjeta de presentacion : {{object.tarjeta_presentacion | safe }}</li>
        <li>Fecha de creacion : {{object.fecha_creacion}}</li>
    
    </p>

{% endblock "body_block"  %}