{% extends 'index/index.html' %}

{% block "header_block" %}
{% endblock "header_block" %}

{% block "body_block" %}
    <p>
        <a href={% url 'crear_futbolista' %}>Crear futbolista</a>
    </p>
    <form action = "" method = "get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        
        
        <button>Buscar</button>
    </form>
    {% if futbolistas  %}
        {% for futbolista in futbolistas  %}
            <li>
                
                <a href={% url 'detalle_futbolista' futbolista.id %}>{{futbolista}}</a>|
                <a href={% url 'editar_futbolista' futbolista.id %}>Editar</a>|
                <a href={% url 'borrar_futbolista' futbolista.id %}>Borrar</a>|
                
            </li>
        {% endfor %}
    {% else %}
        <p>No hay nada para mostrar aun</p>
    {% endif %}

{% endblock "body_block"  %}