{% extends 'index/index.html' %}

{% block "header_block" %}
{% endblock "header_block" %}

{% block "body_block" %}
   <p>
    {% if Alerta  %}
        {{Alerta}}
    {% endif %}
   </p>

   <p>
       <li>Nombre : {{request.user.first_name}}</li>
       <li>Apellido: {{request.user.last_name}}</li>
       <li>Email: {{request.user.email}}</li>
       {% if mas_datos.avatar %}
            <li>Avatar: <img src="{{mas_datos.avatar.url}}" width="230" height="90" alt="Imagen de perfil"></li>
        {% endif %}
        {% if mas_datos.link %} #Se corrige la condicion del link !
            <li>Link: {{mas_datos.link}}</li>
        {% endif %}
        </p>

   <a href = {% url 'editar_usuario' %}>Editar datos</a>

{% endblock "body_block"  %}